@import "../../styles/_variables";

.cart_modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  .cart_content {
    width: 420px;
    padding: 20px 30px;
    transition: width 1000ms;
    background-image: url("../../images/CartBackGround.png");
    color: white;
    .cart_header {
      display: flex;
      justify-content: space-between;
      width: 360px;
      align-items: center;
      color: $lightGreenColor;
      margin-bottom: 20px;
      .cart_title {
        font-family: Oswald;
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
      .cart_close {
        font-size: 28px;
        cursor: pointer;
        animation: bounce-in-right 1.1s both;
      }
    }
  }
  .cart_footer {
    position: absolute;
    bottom: 0;
    .cart_product_name1 {
      @extend %product_font;
      margin-top: 10px;
      font-weight: bold!important;
      color: $lightGreenColor!important;
    }
    .cart_product_name {
      @extend %product_font;
    }
    button {
      width: 360px;
      height: 55px;
      border: 0.5px solid #FFFFFF;
      box-sizing: border-box;
      background: #000000;
      @extend %product_font;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.1em;
      cursor: pointer;
      margin: 20px 0;
      &:hover {
        background-color: $lightGreenColor;
        color: #000000;
        transition: 0.3s;
      }
    }
  }
}

%product_font {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.line {
  width: 360px;
  border-bottom: 1px solid #555555;
}

.cart_product {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 20px 0;
  .cart_image {
    width: 60px;
    height: 80px;
    img {
      width: 60px;
      height: 80px;
    }
  }
  .cart_center {
    width: 228px;
    margin-left: 20px;
    .cart_product_name {
      margin-bottom: 29px;
      @extend %product_font;
    }
    .cart_quantity {
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: space-around;
      border: 0.5px solid #555555;
      box-sizing: border-box;
      color: #555555;
      .cart_quantity_count {
        cursor: pointer;
      }
    }
  }
  .cart_product_right {
    .cart_product_prices {
      margin-bottom: 45px;
      @extend %product_font;
      font-weight: bold;
      color: $lightGreenColor;
    }
    .cart_product_delete {
      @extend %product_font;
      cursor: pointer;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.04em;
      text-decoration-line: underline;
    }
  }
}

