@import "../../styles/_variables";

.button {
  width: 255px;
  height: 50px;
  background: #43FFD2;
  color: $darkColor;
  padding: 16px 50px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;

  &:hover {
    background-color: $purpleColor;
    color: white;
    transition: 0.3s;
  }
}
