@import "../../styles/_variables";

.contacts {
  background-image: url("../../images/Contacts.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  .container {
    max-width: 1110px;
    margin: auto;
    .contacts_title {
      padding: 100px 0 40px 30px;
    }
    .contacts_feedback {
      display: flex;
      justify-content: space-between;
      margin-top: 140px;
      text-align: right;
      .contacts_feedback_left {
        width: 55%;
        .contacts_feedback_title {
          font-family: Cormorant;
          font-size: 100px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }
      .contacts_feedback_right {
        width: 40%;
      }
    }
  }
}

.group_box {
  display: flex;
  justify-content: space-between;
  .box {
    width: 255px;
    height: 255px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    .group_box_title {
      font-weight: bold;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #43FFD2;
      padding: 72px 0 30px 0;
    }
    .group_box_subtitle {
      font-weight: 300;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
  }
}

.maps {
  margin-top: 120px;
  padding-bottom: 120px;
  p {
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    margin-bottom: 20px;
  }
}
