@import "../../styles/variables";

.info {
  height: 100%;
  width: 250px;
  margin-top: 45px;
  margin-right: -250px;

  .info_title {
    color: $greenColor;
    font-size: 14px;
    font-weight: 400;
  }
  .info_text {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .social {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 154px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
    margin-left: auto;
    img {
      cursor: pointer;
    }
  }
}
