.catalog {
  color: #fff;
  background-color: #040a0a;
  background-image: url("../../images/Group 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  .catalog-main {
    width: 1110px;
    margin: auto ;
    background-repeat: no-repeat;
    height: 590px;
  }
  .catalog-title-one {
    margin-left: 20px;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
  }
  .catalog-title-two {
    font-family: Cormorant;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 285px;
  }
  .catalogBg {
    position: relative;
    width: 1110px;
    border-radius: 20px;
    height: 555px;
    text-transform: uppercase;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3);
  }
  .catalog-description {
    width: 450px;
    margin-left: 290px;
    margin-top: 20px;
  }
  .catalog-main {
    display: flex;
  }
  .social {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 45px 0 0 130px;
    width: 60px;
    height: 154px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
    right: 0;
    img {
      cursor: pointer;
    }
  }
  .lightPhone {
    display: flex;
    width: 140px;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    img {
      width: 18px;
    }
  }
}
.bgImage {
  background-repeat: no-repeat;
  background-position: right;
}
.options {
  width: 890px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: 20px;
  div {
    display: inline-table;
    margin: 5px;
    font-family: Oswald;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 40px;
    &:hover {
      background-color: #43ffd2;
      color: #000;
    }
  }
}
.filtr {
  width: 1110px;
  margin: auto;
  text-align: right;
  margin-bottom: 20px;
  select {
    padding: 10px;
    width: 257px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    outline: none;
  }
}
