.cards-main {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .filters {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-transform: uppercase;
    width: 255px;
    padding: 20px;
    .heading {
      font-size: 14px;
      font-weight: bold;
      color: #43ffd2;
      margin: 20px 0;
    }
    .card-filt {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 300;
      cursor: pointer;
      input {
        margin-right: 5px;
      }
      &:hover {
        border-right: solid 2px #43ffd2;
        color: #43ffd2;
      }
    }  
  }
  .cards {
    width: 825px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 60px;
  }
  .cards-title {
    margin-top: 10px;
  }
  .cards-text {
    margin-top: 10px;
  }
  .cards-button {
    width: 255px;
    height: 50px;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      background-color: #43ffd2;
      color: #000000;
    }
  }
  .filter-button {
    width: 225px;
    height: 50px;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      background-color: #43ffd2;
      color: #000000;
    }
  }
}
