.header {
  max-width: 1500px;
  min-width: 1110px;
  margin:0 auto;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  .nav {
    height: 100px;
    display: flex;
    margin-left: 65px;
    justify-content: space-between;
    align-items: center;
    div {
      cursor: pointer;
      &:hover {
        color: #43ffd2;
      }
    }
  }
  .search {
    width: 70px;
    display: flex;
    justify-content: space-between;
  }
  .header-info {
    width: 250px;
    margin-top: 35px;
  }
  .info_title {
    color: #43ffd2;
    font-size: 14px;
    font-weight: 400;
  }
  .info_text {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .headerPhone {
    color: #43FFD2;
    display: flex;
    width: 141px;
    align-items: center;
    justify-content: space-between;
      img {
        width: 18px;
        padding-top: 3px;
      }
  }
  .headerInfo {
    align-items: center;
    display: flex;
      .basket img{
        width: 30px;
        margin: 0 20px;
      }
  }
}
