.feedback_line {
  width: 255px;
  padding-top: 60px;
  margin: 0 0 73px auto;
  border-bottom: 1px solid #43FFD2;
}
.feedback_text {
  width: 255px;
  text-align: left;
  margin: 0 0 30px auto;
  p {
    font-family: Oswald;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.feedback_button {
  display: flex;
}
.approval {
  text-align: left;
  margin-top: 10px;
  font-family: Roboto Condensed;
  font-size: 10px;
  letter-spacing: 0.02em;
  span {
    font-family: Roboto Condensed;
    text-decoration-line: underline;
    color: #EE204D;
    cursor: pointer;
  }
}


.forms {
  .forms_input {
    width: 445px;
    border: 1px solid #555555;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    margin-bottom: 10px;
    font-family: Oswald;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #555555;
    background: rgba(0, 0, 0, 0.2);
  }
  textarea {
    height: 120px;
  }
}
