.error {
  background-image: url("../../images/ErrorPage404.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  font-size: 14px;
  position: relative;
  .text {
    position: absolute;
    text-transform: uppercase;
    top: 800px;
    left: 900px;
    p {
      font-family: Oswald;
      color: #ffffff;
      margin-bottom: 10px;
    }
    .home {
      text-decoration-line: underline;
      color: #43FFD2;
      cursor: pointer;
    }
  }
}