@import '../../../styles/variables';

.popular_section{
  height: 100vh;
  width: 100%;
  color: white;
  text-transform: uppercase;

  .popular_section_title{
    font-weight: 100;
    position: relative;
    h2{
      font-size: 60px;
      margin-left: 10vw;
    }
    h3{
      font-size: 60px;
      margin-left: 30vw;
    }
  }
}
