@import "../../../styles/_variables";

.intro {
  color: white;
  background-image: url("../../../images/home_page_intro.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;

  .home_page_bg {
    width: 100%;
    text-transform: uppercase;
    height: 150vh;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 60%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }
  .home_page_container {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    position:relative;
  }
  .home_page_title {
    user-select: none;
    font-size: 13vw;
    font-weight: 300;
    font-style: normal;
    line-height: 10vw;
    text-align: center;
    letter-spacing: 20px;
    opacity: 0.9;
  }
  .home_page_subtitle {
    text-align: center;
    margin-top: 30px;
  }
  .home_page_intro_button {
    width: 100%;
    text-align: center;
    margin-top: 47px;
  }
}
