@import "../../styles/variables";

.slider{
  padding: 20px;
  position: relative;
  margin: 10px auto;
  .slider_carousel{
    padding: 20px 0 0 0;
    margin: auto;
  }
  &_arrow_prev, &_arrow_next{
    position: relative;
    padding: 10px;
    top: 40%;
    cursor: pointer;
  }
}

